Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

#Plug-in Content

/Content/Geometry/*
/Content/Mannequin/*
/Content/StarterContent/*
/Content/ThirdPerson/*
/Content/ThirdPersonCPP/*
